*{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.sidebar{
    position: fixed;
    left: -300px;
    background: #042331;
    width: 300px; 
    height: 100%;
    transition: all .5s ease;
}

.sidebar header{
    font-size: 22px;
    font-family: 'Balsamiq Sans', cursive;
    color: white;
    line-height: 70px;
    text-align: center;
    background: #063146;
    user-select: none;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 70px;
    font-size: 16px;
    font-family: 'Balsamiq Sans', cursive;
    color: white;
    padding-left: 30px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid black; 
}

ul li a:hover{
    padding-left: 50px;
    transition: .5s;
}

#check{
    display: none;
}

label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background: #042331;
}

label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    border-radius: 3px;
    padding: 6px 12px;
    transition: all .5s;
}

label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 20px;
    color: #0a5275;
    padding: 2px 6px;
    transition: all .5s ease;
}

#check:checked ~ .sidebar{
    left: 0;
}

#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel{
    left: 260px;
}

#check:checked ~ section{
    margin-left: 300px;
}

section{
    background: url(img/cameron.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all .5s ease;
}

.tabel{
    display: grid;
    background: #042331;
    color: white;
    font-family: 'Balsamiq Sans', cursive;
    user-select: none;
    font-size: 16px;
}

#center{
    text-align: center;
}

.enkripsi{
    width: 35%;
    font-size: 13px;
    font-family: 'Balsamiq Sans', cursive;
    padding: 5px 1px;
    background: #ffa703;
    border-radius: 6px;
    margin-top: 2px;
    outline: none;
}

.dekripsi{
    width: 35%;
    font-size: 13px;
    font-family: 'Balsamiq Sans', cursive;
    padding: 5px 1px;
    background: #ffa703;
    border-radius: 6px;
    margin-top: 10px;   
}

.enkripsi:hover{
    cursor: pointer;
    background: #ed591a;
}

.dekripsi:hover{
    cursor: pointer;
    background: #ed591a;
}


